body {
  margin: 0;
  background-color: #ffffff;
  color: #ffffff;
}

/* Header image */

header {
  background-image: url('assets/background.avif');
  
  position: relative;
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

}

  /* Header text properties */

.header-text{
  height: 375px;
  color: #ffffff;
  z-index: 1;
  font-weight: 600;
  font-size: 5rem;
  font-family: "Outfit", sans-serif;
  letter-spacing: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Transparent black square over header image, under the text but over the image  */

header::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 0;
}

/* Subheading properties*/

h2 
{
  text-align: left;
  padding-left: 10cm;
  font-size: 3rem;
  color: #000000;
  font-weight: 200;
  font-family: "Outfit", sans-serif;
}

/*Body text properties*/

p
{
  text-align: left;
  font-size: 1.5rem;
  width: 60rem;
  padding-left: 10cm;
  color: #8D96A5;
  font-weight: 150;
  font-family: "Pavanam", sans-serif;
}

hr.divider
{
  border: none;
  border-top: 1px solid #8D96A5;
  width: 70rem;
  border-radius: 5px;
  align-items: center;
  margin: 75px auto;
}
