body {
 margin: 0;
 background-color: #fefefe;
 color: #ffffff;
 overflow-x: hidden;
}

/* Header image */


header {
 background-image: url('assets/background.avif');
 position: relative;
 background-size: cover; 
 background-position: center;
 background-repeat: no-repeat;

 display: flex;
 align-items: center;
 justify-content: center;
}


/* Header text properties */


.header-text {
 height: 375px;
 color: #ffffff;
 z-index: 1;
 font-weight: 600;
 font-size: 5rem;
 font-family: "Outfit", sans-serif;
 letter-spacing: 10px;
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
}


/* Transparent black square over header image, under the text but over the image  */


header::before {
 content: "";
 position: absolute;
 top: 0; left: 0;
 width: 100%; height: 100%;
 background-color: rgba(0, 0, 0, 0.35);
 z-index: 0;
}

/* Subheading properties*/

h2 {
 text-align: left;
 padding-left: clamp(0.75rem, 25vw, 25rem);
 font-size: clamp(1.75rem, 2.5vw, 3rem);
 color: #000000;
 font-weight: 400;
 font-family: "Outfit", sans-serif;
}

h4 {
  text-align: left;
  padding-left: clamp(0.75rem, 25vw, 25rem);
  font-size: clamp(1rem, 2.5vw, 2rem);
  color: #3F4C64;
  font-family: "Outfit";
  font-weight: 300;
}

/*Body text properties*/


p {
 text-align: left;
 color: #8D96A5;
 font-weight: 150;
 font-family: "Pavanam", sans-serif;
}


.info {
 padding-left: clamp(0.75rem, 25vw, 25rem);
 font-size: clamp(0.25rem, 5vw, 1.5rem);
 max-width: clamp(350px, 60vw, 60rem);
 width: 100%;
}

/* Custom dividers */

hr.divider {
 border: none;
 border-top: 1px solid #8D96A5;
 max-width: clamp(20rem, 65vw, 75rem);
 border-radius: 5px;
 align-items: center;
 margin: 75px auto;
}


hr.divider-small {
 border: none;
 border-top: 1px solid #8D96A5;
 max-width: clamp(10rem, 45vw, 45rem);
 border-radius: 5px;
 align-items: center;
 margin: 75px auto;
}

/* Profile cards and card properties */

.gamer {
 display: flex;
 align-items: center;
 gap: 2rem;
}


.cardImg {
 max-width: clamp(15rem, 35vw, 300px);
 width:100%;
 height: 350px;
 margin-left: clamp(0.75rem, 25vw, 25rem);
 border-radius: 5px;
 object-fit: cover;
}


.name {
 color: #3F4C64;
 font-family: "Outfit";
 font-weight: 300;
 font-size: 40px;
}


.title {
 color: #8D96A5;
 font-family: "Pavanam", sans-serif;
 font-weight: 300;
 font-size: 20px;
}


.mains {
 color: #3F4C64;
 font-family: "Pavanam", sans-serif;
 font-weight: 300;
 font-size: 25px;
}


.body-text {
 color: #8D96A5;
 font-family: "Pavanam", sans-serif;
 font-weight: 300;
 font-size: 20px;
 max-width: 600px;
}


.img-gallery{
  margin-top: 2rem;
  text-align: center;
}

.img-gallery > div{
  columns: 3;
  gap: 1.25rem;
  padding: 1.25rem;
}

.img-gallery img
{
  display: block;
  width:75%;
  border-radius: 5px;
  margin-bottom: 1.25rem;

}


footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000E25;
  padding: 1rem 3rem;
  height: 100px;
}

.footer-text {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: clamp(0.75rem, 5vw, 2rem);
  font-weight: 200;
}

.footer-icons {
  display: flex;
  gap: 1rem;
}

.footer-img {
  height: auto;
}


/* Phone screen */

@media (max-width: 600px){

  .img-gallery > div{
  columns: 1;
  }

  .img-gallery{
  margin-top: 1rem;
  text-align: center;
  }
  .wrapper main {
    width: 100%;
  }

  .header-text{
    font-size: 2rem;
  }

  h2{
    font-size: 1.75rem;
    padding-left: 0.75rem;
  }

  h4{
  font-size: 1.25rem;
    padding-left: 0.75rem;
  }

  .info{
    padding-left: 0.75rem;
    font-size: 0.90rem;
    max-width: 350px;
  }

  hr.divider {
    max-width: 20rem;
    margin: 50px auto;
  }

 hr.divider-small {
    max-width: 10rem;
    margin: 50px auto;
 }

  .gamer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .cardImg {
    max-width: 15rem;
    width:100%;
    height: auto;
    margin-left: 0.75rem;
    border-radius: 5px;
    object-fit: cover;
  }

  .name {
    color: #3F4C64;
    font-family: "Outfit";
    font-weight: 300;
    padding-left: 0.75rem;
    font-size: 1.25rem;
  }

  .title {
    color: #8D96A5;
    font-family: "Pavanam", sans-serif;
    font-weight: 300;
    padding-left: 0.70rem;
    font-size: 1.25rem;
  }

  .mains {
    color: #3F4C64;
    font-family: "Pavanam", sans-serif;
    font-weight: 300;
    padding-left: 0.75rem;
    font-size: 1rem;
  }

  .body-text {
    color: #8D96A5;
    font-family: "Pavanam", sans-serif;
    font-weight: 300;
    font-size: .90rem;
    padding-left: 0.75rem;
    max-width: 350px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
    
}