
body {
 margin: 0px;
 background-color: #F2F2F2;
 overflow-x: hidden;
 font-family: "Outfit", sans-serif;;
}

header {
 position: relative;
 background-size: cover; 
 height: 550px;
 background-position: center;
 background-repeat: no-repeat;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 z-index:0;
}

/*Different bg for different page */

.home
{
  background-image: url('assets/background.avif');
}

.about
{
  background-image: url('assets/about-us.jpg');
}

.officers
{
  background-image: url('assets/officers.avif');
}


/* Header text properties */


.header-text {
 color: #ffffff;
 z-index: 2;
 font-weight: 900;
 font-size: 5rem;
 font-family: "Outfit", sans-serif;
 display: flex;
}

/* Different text colors for different pages */



.header-text-sub{
  font-weight: 300;
  font-size: 2rem;
  color: #ffffff;
}

/* Transparent black square over header image, under the text but over the image  */

header::before {
 content: "";
 position: absolute;
 top: 0; left: 0;
 width: 100%; height: 100%;
 background-color: rgba(0, 0, 0, 0.35);
 z-index: -1;
}

h1{
  text-align: center;
}

.navbar {
  position: fixed;
  left: 50%;
  padding: 10px;
  transition: top 0.3s ease;
  transform: translateX(-50%);
  z-index: 999;
  top: 0;

}

.navbar ul
{
  z-index: 100;
  list-style-type: none;
  background-color: #ffffffe2;
  backdrop-filter: blur(1.5px);
  padding-inline: 25px;
  justify-content: space-evenly;
  margin: 0px;
  align-items: center;
  overflow: hidden;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  z-index: 999;

}

.navbar a
{
  z-index: 100;
  color: #3F4C64;
  text-decoration: none;
  padding-inline: 50px;
  padding-block: 15px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  z-index: 999;
  justify-content: center;

}

.navbar a.about{
  color: #9F4B8C;
  background: transparent;
}

.navbar a.officers{
  color: #3B93FF;
  background: transparent;
}

.navbar a.active {

  background: #C4DAFF;
  border-radius: 9999px;
  margin:5px;
}

.navbar a.active-about {

  background: #FFD3F5;
  border-radius: 9999px;
  margin:5px;
}

.navbar a.active-officers {

  background: #BDF5FF;
  border-radius: 9999px;
  margin:5px;
}

.navbar a:hover{
  z-index: 5;
  font-size: 2.15rem;
  
}

hr
{
  border-top: 2px solid #3F4C64;
  border-radius: 5px;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hr-about
{
  border-top: 2px solid #9F4B8C;
}

h2
{
  color: #3F4C64;
  font-size: 3rem; 
  font-weight: 400;
  text-align: center;
  justify-content: center;
  padding: 100px;
}

h3
{
  color: #3F4C64;
  font-size: 2.5rem; 
  font-weight: 400;
  text-align: center;
  padding: 25px;
}

.h2-about
{
  color:#9F4B8C;
}

.h3-about
{
  color: #9F4B8C;
}

a
{
  font-size: 1.75rem; 
  font-weight: 300;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.home-a
{
  color: #3F4C64;
  max-width: 75%;
}

.about-a
{
  color: #9F4B8C;
  max-width: 50%;
}

.img-gallery{
  margin-top: 2rem;
  text-align: center;
  width:95%;
}

.img-gallery > div{
  columns: 3;
  gap: 1.25rem;
  padding: 1.25rem;
}

.img-gallery img
{
  display: block;
  width:100%;
  border-radius: 5px;
  margin-bottom: 1.25rem;

}

.social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  width: 100%;
  flex-wrap: wrap;
}

.social-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 300px;
  max-width: 600px;

}

.discord-img {
  max-width: 100px;
  height: auto;
  padding-top: 50px;
}

.container {
  width: 800px;
  height: 250px;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  box-sizing: border-box;
  
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-template-rows: 1fr;
  grid-gap: 15px;
}

.items {
  border-radius: 5px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
  cursor: pointer;
  transition: all 0.6s;
}


.icon-wrapper, .project-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper .material-symbols-outlined  {
  font-size: 100px;
  transform: translateY(0px);
  transition: all 0.6s;
  color: #3F4C64;
}

.icon-wrapper {
  align-self: end;  
}

.project-name {
  align-self: start;
}
.project-name p {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 1;
  color: #3F4C64;  
  transform: translateY(0px);
  transition: all 0.5s;
}

.items:hover {
  border: 2px solid #3F4C64;
  
  & .project-name p {
    transform: translateY(-10px);
  }
  & .icon-wrapper i {
    transform: translateY(5px);
  }
}

#container {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 5vh;
}

img {
  border-radius: 12px;
  height: 350px;
  width: 50%;
  object-fit: cover;
}

.card {
  display: flex;
  background-color: white;
  padding: 8px;
  border-radius: 12px;
}

.tag {
  padding: 4px 10px;
  font-size: 1rem;
  border: 1px solid #BDF5FF;
  border-radius: 50px;
  font-weight: 600;
  color: #3B93FF;
}

.name {
  font-size: 3rem;
  padding: 10px;
  color: #3B93FF;
  font-weight: 600;
  margin-top: 16px;
}

p {
  font-size: 1.25rem;
  color: #3B93FF;
  line-height: 150%;
}

.card__details {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
}




/*Phone design */

@media (max-width: 600px) {
  .header-text{
      font-size: 3rem;
      max-width: 100%;
  }
  
  .navbar a
    {
      padding-inline: 15px;
      padding-block: 10px;
      display:block;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 500;
    }

  .home-a{
    max-width: 75%;
  }

  .about-a
  {
    max-width:90%;
    font-size: 1.25rem;
  }
  .discord-img{
    width:50%;
  }

  h2{
    padding:50px;
  }

  .img-gallery > div{
    columns: 1;
  }

  .img-gallery{
    margin-top: 1rem;
    text-align: center;

  }

  .container {
    width: 95%;
    height: auto;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 1rem;
  }

  .items {
    grid-template-rows: auto auto;
    padding: 20px;
  }

  .icon-wrapper .material-symbols-outlined {
    font-size: 72px;
  }

  .project-name p {
    font-size: 18px;
    letter-spacing: 1.5px;
  }

  .items:hover {
    border: 2px solid #3F4C64;
  }

  #container {
    max-width: 98%;
    margin-top: 2vh;
  }

  img {
    width:45%;
  }

  .tag {
    display: flex;
    font-size:0.60rem;
  }

  .name {
    font-size: 2rem;
  }

  p {
    font-size: 0.75rem;
  }
}