body {
 margin: 0px;
 background-color: #F2F2F2;
 overflow-x: hidden;
 font-family: "Outfit", sans-serif;;
}

header {
 position: relative;
 background-size: cover; 
 height: 550px;
 background-position: center;
 background-repeat: no-repeat;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 z-index:0;
}

/*Different bg for different page */

.home
{
  background-image: url('assets/background.avif');
}

.about
{
  background-image: url('assets/about-us.jpg');
}

.officers
{
  background-image: url('assets/officers.avif');
}


/* Header text properties */


.header-text {
 color: #ffffff;
 z-index: 2;
 font-weight: 900;
 font-size: 5rem;
 font-family: "Outfit", sans-serif;
 display: flex;
}

/* Different text colors for different pages */



.header-text-sub{
  font-weight: 300;
  font-size: 2rem;
  color: #ffffff;
}

/* Transparent black square over header image, under the text but over the image  */

header::before {
 content: "";
 position: absolute;
 top: 0; left: 0;
 width: 100%; height: 100%;
 background-color: rgba(0, 0, 0, 0.35);
 z-index: -1;
}

h1{
  text-align: center;
}

.navbar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
}

.navbar ul
{
  z-index: 100;
  list-style-type: none;
  background-color: #F2F2F2;
  padding-inline: 25px;
  justify-content: space-evenly;
  margin: 0px;
  align-items: center;
  overflow: hidden;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;

}

.navbar a
{
  z-index: 100;
  color: #3F4C64;
  text-decoration: none;
  padding-inline: 50px;
  padding-block: 15px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;

}

.navbar a.about{
  color: #9F4B8C;
  background: #F2F2F2;
}

.navbar a.officers{
  color: #3B93FF;
  background: #F2F2F2;
}

.navbar a.active {

  background: #C4DAFF;
  border-radius: 9999px;
  margin:5px;
}

.navbar a.active-about {

  background: #FFD3F5;
  border-radius: 9999px;
  margin:5px;
}

.navbar a.active-officers {

  background: #BDF5FF;
  border-radius: 9999px;
  margin:5px;
}

.navbar a:hover{
  z-index: 5;
  font-size: 2.15rem;
  
}

.divider
{
  border-top: 2px solid #3F4C64;
  border-radius: 5px;
  max-width: 75%;
}

h2
{
  color: #3F4C64;
  font-size: 3rem; 
  font-weight: 400;
  text-align: center;
  justify-content: center;
  padding: 100px;
}

h3
{
  color: #3F4C64;
  font-size: 2.5rem; 
  font-weight: 400;
  text-align: center;
  padding: 25px;
}

a
{
  font-size: 1.75rem; 
  font-weight: 300;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.home-a
{
  color: #3F4C64;
  max-width: 25%;
}

/*Phone design */

@media (max-width: 600px) {
  .header-text{
      font-size: 3rem;
      max-width: 100%;
  }
  
  .navbar a
    {
      padding-inline: 15px;
      padding-block: 10px;
      display:block;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 500;
    }
}